{% load static %}
<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li><a href="{% url 'lgu_admin:dashboard' %}" aria-expanded="false"><i class="icon icon-single-04"></i><span
                class="nav-text">Dashboard</span></a></li>
           
            <li class="nav-label">Community Records</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-app-store"></i><span class="nav-text">Citizen Records</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'lgu_admin:residents_list'%}">Residents List</a></li>
                    <li><a href="{% url 'lgu_admin:unverified_residents'%}">Verification</a></li>
                    <li><a href="{% url 'lgu_admin:account_list'%}">Accounts</a></li>
                </ul>
            </li>
           
            <li class="nav-label">Resident Services</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-form"></i><span class="nav-text">Residents Requests</span></a>
                <ul aria-expanded="false">
                    <li><a href="{%url 'lgu_admin:brgy_clearance'%}">Documents</a></li>
                </ul>
            </li>

            {% comment %} <li class="nav-label">Community Programs</li>
            <li><a href="#" aria-expanded="false"><i class="icon icon-single-04"></i><span
                class="nav-text">Program List</span></a></li> {% endcomment %}
           
            <li class="nav-label">Inventory</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-layout-25"></i><span class="nav-text">Inventory Records</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'lgu_admin:inventory_items'%}">Equipment</a></li>
                </ul>
            </li>

            {% comment %} <li class="nav-label">Legislative Documents</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-copy-06"></i><span class="nav-text">Resolution and Ordinances</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'lgu_admin:resolution'%}">Resolutions</a></li>
                    <li><a href="{% url 'lgu_admin:ordinances'%}">Ordinances</a></li>
                    <li><a href="{% url 'lgu_admin:memorandums'%}">Memorandum</a></li>
                </ul>
            </li> {% endcomment %}

            <li class="nav-label">Services</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-copy-06"></i><span class="nav-text">Barangay Services</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'health_emergency:health_issues'%}">Health and Emergency Services</a></li>
                    <li><a href="{% url 'social_service:social_welfare_admin_list'%}">Social Services and Welfare</a></li>
                    {% comment %} <li><a href="{% url 'lgu_admin:official'%}">Community and Event Management</a></li>
                    <li><a href="{% url 'lgu_admin:official'%}">Education and Training</a></li>
                    <li><a href="{% url 'lgu_admin:official'%}">Barangay News and Updates</a></li> {% endcomment %}
                </ul>
            </li>

            <li class="nav-label">Public Information</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-copy-06"></i><span class="nav-text">Website Content</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'lgu_admin:service'%}">Services</a></li>
                    <li><a href="{% url 'lgu_admin:project'%}">Programs</a></li>
                    {% comment %} <li><a href="{% url 'lgu_admin:official'%}">Officials</a></li> {% endcomment %}
                </ul>
            </li>

            


            <li class="nav-label">Archives</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-copy-06"></i><span class="nav-text">Citizen's Record</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url "lgu_admin:archived_residents"%}">Residents</a></li>
                    {% comment %} <li><a href="{% url 'lgu_admin:project'%}">Programs</a></li>
                    <li><a href="{% url 'lgu_admin:official'%}">Officials</a></li> {% endcomment %}
                </ul>
            </li>

              <li class="nav-label">Reports & Annountments</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-copy-06"></i><span class="nav-text">Citizen's Reports</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url "lgu_admin:complaints"%}">Reports </a></li>
                    {% comment %} <li><a href="{% url 'lgu_admin:project'%}">Programs</a></li>
                    <li><a href="{% url 'lgu_admin:official'%}">Officials</a></li> {% endcomment %}
                </ul>
                 <ul aria-expanded="false">
                    <li><a href="{% url "lgu_admin:announcements"%}">Announcements </a></li>
                    {% comment %} <li><a href="{% url 'lgu_admin:project'%}">Programs</a></li>
                    <li><a href="{% url 'lgu_admin:official'%}">Officials</a></li> {% endcomment %}
                </ul>
            </li>
        </ul>
    </div>
</div>