{% extends "brgy_employees/includes/base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <!-- Header -->
                <h4>Barangay Supplies Inventory</h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                <li class="breadcrumb-item active"><a href="#">Supplies Inventory</a></li>
            </ol>
        </div>
    </div>
    
    <!-- Supplies Table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">List of Supplies</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Supply Name</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>Condition</th>
                                    <th>Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Bond Paper (A4)</td>
                                    <td>Office Supplies</td>
                                    <td>500</td>
                                    <td><span class="badge badge-success">Available</span></td>
                                    <td>Feb 12, 2025</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Ink Cartridge</td>
                                    <td>Office Supplies</td>
                                    <td>20</td>
                                    <td><span class="badge badge-warning">Low Stock</span></td>
                                    <td>Feb 10, 2025</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Alcohol (500ml)</td>
                                    <td>Medical Supplies</td>
                                    <td>50</td>
                                    <td><span class="badge badge-success">Available</span></td>
                                    <td>Jan 28, 2025</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Face Masks</td>
                                    <td>Medical Supplies</td>
                                    <td>200</td>
                                    <td><span class="badge badge-success">Available</span></td>
                                    <td>Feb 1, 2025</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Cleaning Detergent</td>
                                    <td>Sanitation</td>
                                    <td>15</td>
                                    <td><span class="badge badge-danger">Out of Stock</span></td>
                                    <td>Jan 15, 2025</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Ballpoint Pens</td>
                                    <td>Office Supplies</td>
                                    <td>100</td>
                                    <td><span class="badge badge-success">Available</span></td>
                                    <td>Feb 5, 2025</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Supply Name</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>Condition</th>
                                    <th>Last Updated</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
